body {
	width: 100%;
	margin: 0;
}

html {
	min-height: 100%;
	position: relative;
}

form {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

td > form {
	display: inline-block;
	width: auto;
	margin: 0;
}

.edit-button {
	padding-bottom: 5px;
}

.ul-attributes-list {
	width: 20rem;
}

.il-attributes-list {
	display: flex;
 	justify-content: space-between;
	align-items: center;
	position: relative;
	list-style: none;
}