<c:url value="/assets/datatable.css" var="datatableCss" />
<c:url value="/assets/datatable.js" var="datatableJs" />
<c:url value="/assets/jquery-3.4.1.js" var="jqueryJs" />
<c:url value="/assets/bootstrap.min.css" var="bootstrapCss" />
<c:url value="/assets/boostrap.min.js" var="bootstrapJs" />
<c:url value="/assets/popper.min.js" var="popperJs" />
<link rel="stylesheet" href="${datatableCss}" />
<link rel="stylesheet" href="${bootstrapCss}" />
<script type="text/javascript" charset="utf8" src="${jqueryJs}"></script>
<script type="text/javascript" charset="utf8" src="${datatableJs}"></script>
<script type="text/javascript" charset="utf8" src="${BootstrapJs}"></script>
<script type="text/javascript" charset="utf8" src="${popperJs}"></script>